<%= form_for(@person) do |f| %>
  <% if @person.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@person.errors.count, "error") %> prohibited this person from being saved:</h2>

      <ul>
      <% @person.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
	
	<fieldset>
		
		<legend>Stammdaten</legend>
		
	  <%= f.label :firstname %>
	  <%= f.text_field :firstname %>
	
	  <%= f.label :surname %>
	  <%= f.text_field :surname %>
	
	  <%= f.label :email %>
	  <%= f.text_field :email %>
	
	  <%= f.label :phone %>
	  <%= f.text_field :phone %>
	  
	  <%= f.label :avatar %>
	  <%= f.text_field :avatar %>

	</fieldset>
	
	<fieldset>
		
		<legend>Web 2.0</legend>
		
	  <%= f.label :facebook %>
	  <%= f.text_field :facebook %>
	
	  <%= f.label :twitter %>
	  <%= f.text_field :twitter %>
	
	  <%= f.label :website %>
	  <%= f.text_field :website %>

	</fieldset>
	
	<% @fields.each do |group| %>
		<fieldset>
			<legend><%= group.name %></legend>
			
			<% group.fields.each do |field| %>
				
				<% if field.itype != "BOOLEAN" %>
					<label for="field_<%= field.id %>"><%= field.label %></label>
				<% end %>
				
				<%
					value = ""
					value = @person.fieldvalues.find_by_field_id(field.id).value if @person.fieldvalues.find_by_field_id(field.id)
				%>
				
				<% case field.itype
					 when "STRING" %>
				  <input type="text" id="field_<%= field.id %>" name="field[<%= field.id %>]" value="<%= value %>" size="30" />
				<% when "TEXT" %>
					<textarea  id="field_<%= field.id %>" name="field[<%= field.id %>]"><%= value %></textarea>
				<% when "BOOLEAN" %>
					<input id="field_<%= field.id %>" type="checkbox" name="field[<%= field.id %>]" 
						<% if value == "on" %>
							checked="checked"
						<% end %>/>
					<label for="field_<%= field.id %>"><%= field.label %></label>
				<% end %>
				

				
			<% end %>
			
			
		</fieldset>
	<% end %>

	
	<hr />
  
  <%= f.submit "Speichern" %>
<% end %>
