<%= form_for(@address) do |f| %>
  
  <%= render :partial => 'shared/form_error', :locals => {:errors => @address.errors} %>

  <div class="field">
    <%= f.label :street %><br />
    <%= f.text_field :street %>
  </div>
  <div class="field">
    <%= f.label :number %><br />
    <%= f.text_field :number %>
  </div>
  <div class="field">
    <%= f.label :PLZ %><br />
    <%= f.text_field :PLZ %>
  </div>
  <div class="field">
    <%= f.label :person_id %><br />
    <%= f.text_field :person_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
