<%= form_for(@province) do |f| %>
  
  <%= render :partial => 'shared/form_error', :locals => {:errors => @province.errors} %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
