<%= form_for(@field) do |f| %>
  
  <%= render :partial => 'shared/form_error', :locals => {:errors => @field.errors} %>
  
  <%= f.hidden_field :position %>
  <%= f.hidden_field :fieldgroup_id %>
  
  <fieldset>
    <legend>Stammdaten</legend>
    <div class="field">
      <%= f.label :name %><br />
      <%= f.text_field :name %>
    </div>
    <div class="field">
      <%= f.label :label %><br />
      <%= f.text_field :label %>
    </div>
    <div class="field">
      <%= f.label :itype, "Feldtype" %>
      <select name="field[itype]">
        <option value="STRING">Textzeile</option>
        <option value="TEXT">Textfeld</option>
        <option value="BOOLEAN">Checkbox</option>
      </select>
    </div>
  </fieldset>  
  
  <hr />
  
  <%= f.submit %>

<% end %>
